.navbar {
    border-radius: 0;
}

#map {
    padding: 0;
    min-height: 300px;
    width: 100%;
}

#map-error-banner {
    color: gray;
    padding-left: 8px;
}

#main {
    text-align: center;
}

.maincontent {
    padding: 8px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1000px;
    display: inline-block;
    text-align: left;
}

.info-title {
    font-weight: bold;
}

#weathertable td {
    padding: 5px;
}

#currenttemp {
    font-size: 24pt;
    text-align: center;
}

#newslist {
    padding: 0;
    margin: 0;
    padding-right: 20px;
    list-style-type: none;
}

.newstable img {
    height: 100px;
    width: auto;
}

.newstable td {
    vertical-align: top;
    padding: 4px;
}

.newsdescription {
    font-size: 0.8em;
}

#showappbutton {
    width: 100px;
    float: right;
}

li {
    padding: 4px;
}

.card {
    padding: 5px;
    border: solid lightgray 1px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.nodisp {
    display: none;
}

#setup {
    padding: 16px;
}

.layouttable td {
    padding: 4px;
}